@import './base.css';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
a:hover {
  background-color: rgb(30, 43, 54);
}
a.router-link-exact-active {
  background-color: #4CAF50;
}
